<h2>
	Account
</h2>
<br/>


<form>

	<div class="panel panel-default">
		<div class="panel-body">

			<a id="update_button" class="btn btn-success btn-lg btn-block">
				<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
				Update account
			</a>
			<br/>

			<!-- USERNAME -->
			<div class="form-group has-feedback">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" name="username"
					   value="<%- tmpUsername %>" placeholder="Update your username">
				<span class="glyphicon form-control-feedback" id="username1"></span>
			</div>

			<br/>

			<!-- PASSWORD -->
			<div class="form-group">
				<a id="password_button" class="btn btn-block btn-primary" >
					Update password
				</a>
			</div>

			<div class="form-group has-feedback">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password"
					   placeholder="Password"
						<% if (update_password) { %>
						value="<%- tmpPassword %>"
						<% } else { %> 
						disabled
						<% } %>>
				<span class="glyphicon form-control-feedback" id="password1"></span>
			</div>
			<div class="form-group has-feedback">
				<label for="password">Password again</label>
				<input type="password" class="form-control" id="password_again" name="password_again"
					   placeholder="Password again"
						<% if (update_password) { %>
						value="<%- tmpPasswordAgain %>"
						<% } else { %> 
						disabled
						<% } %>>
				<span class="glyphicon form-control-feedback" id="password_again1"></span>
			</div>

			<br/>

			<!-- SQUESTION -->
			<div class="form-group">
				<a href="#/squestion" class="btn btn-block btn-primary" >
					Security Questions
				</a>
			</div>
		</div>
	</div>

</form>


<% if (showAlert) { %>
<div id="bad_id" class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	Sorry, that username has already been taken. Please choose another.
</div>
<% } %>
