<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">

		<div class="navbar-header">
			<a class="navbar-brand" href="#/">PrivCard</a>

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

		</div>

		<div id="myNavbar" class="collapse navbar-collapse">

			<!-- ANONYMOUS -->
			<% if (authentication == '') { %>
			<ul class="navbar-form navbar-right">
				<a href="#/login" class="btn btn-primary">Login</a>
				<a href="#/register" class="btn btn-primary">Register</a>
			</ul>
			<% } %>

			<!-- AUTHENTICATED -->
			<% if (authentication == 'account' || authentication == 'card') { %>
			<ul class="navbar-form navbar-right">
				<a id="logout" class="btn btn-danger">
					<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
					Logout
				</a>
			</ul>

			<!-- ACCOUNT -->
			<% if (authentication == 'account') { %>
			<ul class="nav navbar-nav">
				<li><a href="#/account">Account</a></li>
				<li><a href="#/card">Cards</a></li>
				<li><a href="#/">/</a></li>
			</ul>
			<% } %>

			<!-- CARD -->
			<% if (authentication == 'card') { %>
			<ul class="nav navbar-nav">
				<li><a href="#/">/</a></li>
			</ul>
			<% } %>

			<% } %>



		</div>

	</div>
</nav>