<br/>
<br/>
<br/>
<h1 class="text-center">
	PrivCard - Freedom in healthcare systems
</h1>
<br/>
<br/>


<div class="row">
	<div class="mycontent-top">
		<h3 class="text-center" style="color: #b81900">
			Medical records are patient's property.
		</h3>
		<h4 class="text-center">
			Patients should be able to access their medical history anytime - anywhere.
			<br/>
			<br/>
			Patients should have control over who gets access to their medical records.
			<br/>
			<br/>
			Medical records should be secured with most advanced security technologies.
		</h4>
		<br/>
	</div>
	<div class="mycontent-bottom">
		<h3 class="text-center" style="color: darkblue">
			PrivCard
		</h3>
		<h4 class="text-center">
			Access your medical records on a Web-based platform anytime - anywhere.
			<br/>
			<br/>
			Control health care providers medical records accesses.
			<br/>
			<br/>
			All records are client-side encrypted. Only you can access them.
		</h4>
	</div>
</div>


