<h2>
	<a href="#/changePassword" class="btn btn-danger pull-right">
		Forgot password ?
	</a>
	Login
</h2>
<br/>


<form>
	<div class="form-group has-feedback">
		<input type="text" name="username" id="username"
			   class="form-control input-lg" placeholder="Enter username" value="<%- tmpUsername %>" autofocus>
		<span class="glyphicon form-control-feedback" id="username1"></span>
	</div>

	<div class="form-group has-feedback">
		<input type="password" id="password" name="password"
			   class="form-control input-lg" placeholder="Enter password" value="<%- tmpPassword %>">
		<span class="glyphicon form-control-feedback" id="password1"></span>
	</div>

	<br/>

	<a id="login" class="btn btn-lg btn-primary btn-block">
		<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
		Login
	</a>
</form>

<br/>

<% if (showAlert) { %>
<div id="bad_id" class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	Sorry, that username or password are incorrect. Please try again.
</div>
<% } %>