<h2>
	Register
</h2>
<br/>


<form>
	<div class="form-group has-feedback">
		<input type="text" name="username" id="username"
			   class="form-control input-lg" placeholder="Enter username" value="<%- tmpUsername %>" autofocus>
		<span class="glyphicon form-control-feedback" id="username1"></span>
	</div>

	<div class="form-group has-feedback">
		<input type="password" id="password" name="password"
			   class="form-control input-lg" placeholder="Enter password" value="<%- tmpPassword %>">
		<span class="glyphicon form-control-feedback" id="password1"></span>
	</div>
	<div class="form-group has-feedback">
		<input type="password" id="password_again" name="password_again"
			   class="form-control input-lg" placeholder="Enter password again" value="<%- tmpPasswordAgain %>">
		<span class="glyphicon form-control-feedback" id="password_again1"></span>
	</div>

	<br/>

	<a id="register" class="btn btn-lg btn-primary btn-block">
		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		Create an account
	</a>
</form>

<br/>

<% if (showAlert) { %>
<div id="bad_id" class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	Sorry, that username has already been taken. Please choose another.
</div>
<% } %>

<div class="alert alert-warning" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	Be sure you remember your username and password!
	All your privCard information is so secured, that even privCard can not access it.
	When authenticated, you can add security questions to your account.
	These questions allow you to reset your password in case you forget it.
</div>