<!-- SEARCH -->
<div class="form-group" style="display:inline;">
	<div class="input-group">
		<input type="text" class="form-control" id="search" placeholder="Search Here" autofocus="autofocus">
		<div class="input-group-btn">
			<a class="btn btn-default">
				<i class="glyphicon glyphicon-search"></i>
			</a>
		</div>
	</div>
</div>
<br/>