<% for (var i=0; i < squestion_list.length; i++) { %>

<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="text-center">
			<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
			Security Question
		</h4>
	</div>
	<div class="panel-body">
		<a id="delete_squestion" name="<%-i%>" class="btn btn-danger pull-right">
			<span class="glyphicon glyphicon-remove"></span>
			Delete security question
		</a>
		<div class="form-group">
			Question :
			<%- squestion_list[i].get('question') %>
		</div>
	</div>
</div>

<% } %>
