<h2 class="text-center">
	Security questions
</h2>
<br/>

<form>
	<div class="panel panel-default">
		<div class="panel-body">

			<a id="add_squestion" class="btn btn-primary btn-lg btn-block">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				Add a security question
			</a>
			<br/>

			<div class="form-group has-feedback">
				<label for="question">Question</label>
				<input type="text" class="form-control" id="question" name="question"
					   placeholder="Question" value="">
				<span class="glyphicon form-control-feedback" id="question1"></span>
			</div>
			<div class="form-group has-feedback">
				<label for="answer">Answer</label>
				<input type="text" class="form-control" id="answer" name="answer"
					   placeholder="Answer">
				<span class="glyphicon form-control-feedback" id="answer1"></span>
			</div>
			<div class="form-group has-feedback">
				<label for="answer_again">Answer again</label>
				<input type="text" class="form-control" id="answer_again" name="answer_again"
					   placeholder="Answer again">
				<span class="glyphicon form-control-feedback" id="answer_again1"></span>
			</div>
		</div>
	</div>
</form>

<div id="template_list" class="list-group"></div>

<br/>
