<% for (var i=0; i < sub_category_list.length; i++) { %>

<div id="sub_category_list<%- i %>" class="checkbox">
	<label>
		<input type="checkbox" name="<%- i %>" <% if (sub_category_list[i].is_checked) { %>
		value="1" checked
		<% } else { %>
		value="0"
		<% } %>
		>
		<%- sub_category_list[i].category.get('name') %> #<%- sub_category_list[i].length %>
	</label>
</div>

<% } %>