<h2>
	<button id="delete_button" class="btn btn-danger pull-right">
		<span class="glyphicon glyphicon-remove"></span>
		Delete card
	</button>
	Card
</h2>
<br/>


<div class="panel panel-default">
	<div class="panel-body">

	<!-- SEARCH -->
	<div id="template_update_button"></div>
	<br/>

	Name
	<div class="form-group">
		<input type="text" class="form-control" id="name" value="<%- card_name %>" placeholder="Enter card name">
	</div>

	<div class="form-group">
		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		Username:
		<br/>
		<%- card_username %>
	</div>
	<div class="form-group">
		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		Password:
		<br/>
		<%- card_password %>
	</div>

	</div>
</div>


Categories
<div class="panel panel-default">
	<div class="panel-body">

		<!-- SEARCH -->
		<div id="template_search"></div>

		<!-- LIST -->
		<div id="template_list"></div>

	</div>
</div>