
<div class="row">
<% for (var i=0; i< direcotry_list.length ; i++) { %> 

	<div class="col-xs-2 col-md-2" style="margin:2px; padding: 2px">
		<div class="thumbnail"><i class="icon-user icon-white"></i>
			<a id="delete_filecontainer" class="btn btn-danger pull-right" name="<%-i%>">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			<h1>
				<span class="glyphicon glyphicon-open-file"></span>
			</h1>
			<%- direcotry_list[i].get('name') %>
		</div>
	</div>

 <% } %>

</div>

