<div class="panel panel-default">
	<div class="panel-body">

		<span class="btn btn-success btn-file">
			Browse files <input id="file_select" type="file" multiple>
		</span>

		<span class="btn btn-success btn-file">
			Browse directories <input id="directory_select" type="file" multiple directory webkitdirectory mozdirectory >
		</span>

		<span id="upload_file_list" class="btn btn-primary ">
			<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
			Upload Files
		</span>

		<span id="stop_uploading" class="btn btn-danger">
			<span class="glyphicon glyphicon-cloud-download"></span>
			Stop Upload
		</span>

		<span id="create_directory" class="btn btn-danger">
			<span class="glyphicon glyphicon-cloud-download"></span>
			Add Directory
		</span>
		<br/>
		<br/>



		<div id="visualization"></div>



		<!-- SEARCH -->
		<div id="template_bar"></div>

		<div id="template_selected"></div>
		<br/>

		<!-- SEARCH -->
		<div id="template_search"></div>

		<!-- DISPLAY LIST -->
		<div id="template_list" class="text-center"></div>

	</div>
</div>