<% if (read_progress_show) { %>
Reading file
<div class="progress">
	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
		 aria-valuemin="0" aria-valuemax="100" style="width:<%- read_progress_completion %>%">
		<%- read_progress_completion %>%
	</div>
</div>
<% } %>

<% if (save_progress_show) { %>
Saving file
<div class="progress">
	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
		 aria-valuemin="0" aria-valuemax="100" style="width:<%- save_progress_completion %>%">
		<%- save_progress_completion %>%
	</div>
</div>
<% } %>
