<h2>
	<button id="delete_button" class="btn btn-danger pull-right">
		<span class="glyphicon glyphicon-remove"></span>
		Delete category
	</button>
	<div id="template_path"></div>
</h2>
<br/>


<div class="panel panel-default">
	<div class="panel-body">

		<div id="update_button" class="btn btn-success btn-lg btn-block">
			<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
			Update category
		</div>
		<br/>

		<div id="template_name"></div>

	</div>
</div>

<div id="template_content"></div>
