<div class="form-group">
	Categories:
	<br/>
	<% for (var j=0; j < category_list.length; j++) { %>
	<a href="#/category/<%- category_list[j].category.id %>" class="btn btn-default">
		<%-  category_list[j].category.get('name') %> # <%- category_list[j].length %>
	</a>
	 <% } %>
</div>