<h2>
	Cards
</h2>
<br/>


<a id="add_card" class="btn btn-primary btn-lg btn-block">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	Add a card
</a>
<br/>


<% for (var i=0; i< card_list.length; i++) { %>

	<div class="panel panel-default">

		<div id="goto_card" data-name="<%- i %>" class="btn btn-block panel-heading" style="color: #ff0000">
				<h4 class="text-center">
					<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
					<%- card_list[i].get('name') %>
				</h4>
		</div>

		<div class="panel-body">
			<div class="form-group">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				Username:
				<br/>
				<%- card_list[i].get('username') %>
			</div>
			<div class="form-group">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				Password:
				<br/>
				<%- card_list[i].get('key_password') %>
			</div>

			<!-- LIST -->
			<div id="template_list"></div>

		</div>

	</div>

<% } %>
