<h2>
	/
</h2>
<br/>


<div class="panel panel-default">
	<div class="panel-body">

		<!-- ADD CATEGORY -->
		<div id="add_category" class="btn btn-primary btn-lg btn-block">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			Add a category
		</div>
		<br/>

		<!-- DISPLAY LIST -->
		<div id="template_list" class="text-center"></div>

	</div>
</div>